<div class="container">
  <div id="top-bar">
    Petsy
    <img src="images/logo.png">
  </div>

  <div id="bottom-bar-wrap">
    <a ui-sref-active="active" ui-sref="newsfeed"><div class="bottom-bar"></div></a><span class="link-name">Newsfeed</span>
    <a ui-sref-active="active" ui-sref="search"><div class="bottom-bar"></div></a><span class="link-name">Search</span>
    <a ui-sref-active="active" ui-sref="about"><div class="bottom-bar"></div></a><span class="link-name">About</span>
    <a ui-sref-active="active" ui-sref="user"><div class="bottom-bar"></div></a><span class="link-name">User</span>
    <a ui-sref-active="active" ui-sref="login"><div class="bottom-bar"></div></a><span class="link-name">Login</span>
    <a ui-sref-active="active" ui-sref="register"><div class="bottom-bar"></div></a><span class="link-name">Register</span>
  </div>

    <br>
    <br>


      <div id="bottom-bar-wrap">
        <div class="bottom-bar"><a ui-sref-active="active" ui-sref="all">All</a></div>
        <div class="bottom-bar"><a ui-sref-active="active" ui-sref="adoptions">Adoptions</a></div>
        <div class="bottom-bar"><a ui-sref-active="active" ui-sref="lost">Lost</a></div>
        <div class="bottom-bar"><a ui-sref-active="active" ui-sref="misc">Miscellaneous</a></div>
      </div>

      <div ng-controller="PostController as post">

      <div ng-repeat="post in post.allPosts">{{post.title}}: {{post.body}} ({{post.category}})</div>

      </div>
</div>
