<div class="container">
  <div id="top-bar">
    Petsy
    <img src="images/logo.png">
  </div>

  <div id="bottom-bar-wrap">
    <a ui-sref-active="active" ui-sref="newsfeed"><div class="bottom-bar"></div></a><span class="link-name">Newsfeed</span>
    <a ui-sref-active="active" ui-sref="search"><div class="bottom-bar"></div></a><span class="link-name">Search</span>
    <a ui-sref-active="active" ui-sref="about"><div class="bottom-bar"></div></a><span class="link-name">About</span>
    <a ui-sref-active="active" ui-sref="user"><div class="bottom-bar"></div></a><span class="link-name">User</span>
    <a ui-sref-active="active" ui-sref="login" ng-if="!main.loggedIn"><div class="bottom-bar"></div></a><span class="link-name" ng-if="!main.loggedIn">Login</span>
    <a href="#" ng-if="main.loggedIn"><div class="bottom-bar" ng-click="main.doLogout()"></div></a><span class="link-name" ng-if="main.loggedIn">Logout</span>
    <a ui-sref-active="active" ui-sref="register"><div class="bottom-bar"></div></a><span class="link-name">Register</span>
  </div>

  <br>
  <br>
  <br>


  <form ng-submit="main.doLogin()">
    <div class="row">
      <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <div class="panel">
            <div class="panel-heading panel-color"><span style="font-size: 18pt">Login</span></div>
            <br>
            <div class="panel-body">

              <!-- EMAIL INPUT -->
              <div class="form-group align">
                <label>Email:</label>
                <input type="email" class="form-control" ng-model="main.loginData.email">
              </div>
              <!-- PASSWORD INPUT -->
              <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="main.loginData.password">
              </div>
              <!-- LOGIN BUTTON -->
              <button class="btn login-button" type="submit">Login</button>

            </div>
          </div>
        </div>
      <div class="col-xs-3"></div>
    </div>
  </form>

</div>
