<div class="container">
  <div id="top-bar">
    Petsy
    <img src="images/logo.png">
  </div>

  <div id="bottom-bar-wrap">
    <a ui-sref-active="active" ui-sref="newsfeed"><div class="bottom-bar"></div></a><span class="link-name">Newsfeed</span>
    <a ui-sref-active="active" ui-sref="search"><div class="bottom-bar"></div></a><span class="link-name">Search</span>
    <a ui-sref-active="active" ui-sref="about"><div class="bottom-bar"></div></a><span class="link-name">About</span>
    <a ui-sref-active="active" ui-sref="user" ng-if="main.loggedIn"><div class="bottom-bar"></div></a><span class="link-name" ng-if="main.loggedIn">User</span>
    <a ui-sref-active="active" ui-sref="login" ng-if="!main.loggedIn"><div class="bottom-bar"></div></a><span class="link-name" ng-if="!main.loggedIn">Login</span>
    <a href="#" ng-if="main.loggedIn"><div class="bottom-bar" ng-click="main.doLogout()"></div></a><span class="link-name" ng-if="main.loggedIn">Logout</span>
    <a ui-sref-active="active" ui-sref="register"><div class="bottom-bar"></div></a><span class="link-name">Register</span>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class="panel">
            <div class="panel-heading panel-color"><span style="font-size: 18pt">User Info</span></div>
            <br>
            <div class="panel-body">

              <img ng-if="main.user.profilePicture" search="{{main.user.profilePicture}}" class="profile">

              Name: {{main.user.firstName}} {{main.user.lastName}}
              <br>
              Address: {{main.user.address}}
              <br>
              Email: {{main.user.email}}

            </div>
          </div>
    </div>

    <div class="col-sm-4"></div>

  </div>


    <div class="main-header" ng-controller="UserController as user">

<!--       <div ng-repeat="user in user.allUsers">{{user.firstName}} {{user.lastName}} - {{user.email}} ({{user.address}})</div> -->

    </div>
</div>
